* {
    font-family: sans-serif;
    font-size: 14px;
}

html, body {
    background-color: #222;
    overflow-y: scroll;
    overflow-x: hidden;
}

html, body, canvas {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

div {
    -webkit-user-select: none; /* webkit (safari, chrome) browsers */
    -moz-user-select: none; /* mozilla browsers */
    -khtml-user-select: none; /* webkit (konqueror) browsers */
    -ms-user-select: none; /* IE10+ */
}

#split {
    position: absolute;
    bottom: 10px;
    left: 10px;
    width: 100px;
    height: 100px;
    padding: 5px;
    border: none;
}

#feed {
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 100px;
    height: 100px;
    padding: 5px;
    border: none;
}

#status {
    position: absolute;
    padding: 10px;
    background: rgba(0, 0, 0, 0.4);
    color: #FFF;
    font-size: 16.1px;
    top: 10px;
    right: 10px;
    font-weight: bold;
    text-align: center;
}

#status .title {
    font-size: 25px;
}

#status .me {
    color: #FF8888;
    font-size: 16.1px;
}

.chatbox {
    position: absolute;
    width: 300px;
    height: 320px;
    background: rgba(255, 255, 255, 0.7);
    bottom: 5px;
    left: 5px;
    border-radius: 5px;
    pointer-events: none;
}

.chatbox .chat-list {
    padding: 5px;
    margin: 0;
    list-style: none;
    box-sizing: border-box;
    height: 285px;
    overflow: hidden;
}

.chatbox .chat-list li {
    padding: 2px;
    margin: 3px;
}

.chatbox .chat-list li.me b {
    color: #ea6153;
}

.chatbox .chat-list li.friend b {
    color: #2ecc71;
}

.chatbox .chat-list li.system {
    color: #9b59b6;
    font-style: italic;
}

.chatbox .chat-list li.system:before {
    content: "» ";
}

.chatbox .chat-input {
    pointer-events: all;
    box-sizing: border-box;
    width: 100%;
    padding: 8px;
    background: transparent;
    border: none;
    border-top: 1px solid #DDD;
    outline: none;
}

.Logo {
    width: 170px;
    text-align: left;
    opacity: 30%;
    position: fixed;
    top:10px;
    left:10px;
}

#startMenu {
    position: relative;
    margin: auto;
    margin-top: 5vh;
    width: 350px;
    padding: 20px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    background-color: white;
    box-sizing: border-box;
}

#metamaskConnect, #infocontainer-error {
    position: relative;
    margin: auto;
    margin-top: 50px;
    width: 90%;
    max-width: 560px;
    padding: 20px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    background-color: white;
    box-sizing: border-box;
}

#deeksMenu {
    position: relative;
    margin: auto;
    padding: 5px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    background-color: white;
    box-sizing: border-box;
    display: none;
    border: #dcdcdc solid 1px;
    border-radius: 5px;
}

#deeks {
	display: block;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	padding: 7px 5px;
	grid-row-gap: 10px;
	row-gap: 10px;
}

#startMenu p {
    padding: 0;
    text-align: center;
    font-weight: bold;
}

#playerNameInput {
    width: 100%;
    text-align: center;
    padding: 10px;
    border: solid 1px #dcdcdc;
    transition: box-shadow 0.3s, border 0.3s;
    box-sizing: border-box;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    outline: none;
    font-weight: 600;
}

#playerNameInput:focus, #playerNameInput.focus {
    border: solid 1px #CCCCCC;
    box-shadow: 0 0 3px 1px #DDDDDD;
}

#spectateButton, #button-connect, #metamask-connect {
    position: relative;
    margin: auto;
    margin-top: 10px;
    width: 100%;
    height: 40px;
    box-sizing: border-box;
    font-size: large;
    color: white;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
    background: #2ecc71;
    border: 0;
    border-bottom: 2px solid #28be68;
    cursor: pointer;
    -webkit-box-shadow: inset 0 -2px #28be68;
    box-shadow: inset 0 -2px #28be68;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    margin-bottom: 10px;
}

#startButton {
    position: relative;
    margin: auto;
    margin-top: 10px;
    width: 100%;
    height: 40px;
    box-sizing: border-box;
    font-size: large;
    color: white;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
    border: 0;
    cursor: pointer;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    margin-bottom: 10px;
}

#spectateButton:active, #spectateButton:hover, #button-connect:hover,
#metamask-connect:hover, #menuButton:hover {
    background: #55D88B;
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.playButton {
	background: #bcbcbc;
	border-bottom: 2px solid #bcbcbc;
	-webkit-box-shadow: inset 0 -2px #bcbcbc;
    box-shadow: inset 0 -2px #bcbcbc;
}

.playButton:active, .playButton:hover {
    background: #bcbcbc;
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.active-play {
	background: #2ecc71;
	border-bottom: 2px solid #28be68;
	-webkit-box-shadow: inset 0 -2px #28be68;
    box-shadow: inset 0 -2px #28be68;
}

.active-play:active, .active-play:hover {
    background: #55D88B;
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

#settingsButton {
    position: relative;
    margin: auto;
    margin-top: 10px;
    width: 100%;
    height: 40px;
    box-sizing: border-box;
    font-size: large;
    color: white;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
    background: #2ecc71;
    border: 0;
    border-bottom: 2px solid #28be68;
    cursor: pointer;
    -webkit-box-shadow: inset 0 -2px #28be68;
    box-shadow: inset 0 -2px #28be68;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    margin-bottom: 10px;
}

#settingsButton:active, #settingsButton:hover {
    background: #55D88B;
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

#settings {
    -webkit-transition: max-height 1s;
    -moz-transition: max-height 1s;
    -ms-transition: max-height 1s;
    -o-transition: max-height 1s;
    transition: max-height 1s;
    overflow: hidden;
}

#startMenuWrapper {
    -webkit-transition: max-height 1s;
    -moz-transition: max-height 1s;
    -ms-transition: max-height 1s;
    -o-transition: max-height 1s;
    transition: max-height 1s;
    overflow: hidden;
    z-index: 2;
}

#settings {
    max-height: 0;
}

#startMenu h3 {
    padding-bottom: 0;
    margin-bottom: 0;
}

#startMenu ul {
    margin: 10px;
    padding: 10px;
    margin-top: 0;
}

#startMenu .input-error {
	display: none;
    color: red;
    opacity: 0;
    font-size : 12px;
    text-align: center;
}

#gameAreaWrapper {
    position: absolute !important;
    top: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
}

@media only screen  and (min-width : 1224px) {
#mobile {
display: none;
	}
}

@media only screen  and (max-width : 1224px) {
#chatbox {
display: none;
        }
}

input [type="image"]:focus{
 border:none;
 outline: 1px solid transparent;
 border-style: none;
}

*:focus {
 outline: 1px solid transparent;
 border-style: none;
}

.deekImage:hover {
    outline: 2px solid lightgrey;
}

.deekImage {
	outline: 1px solid #fff;
	border: 2px solid #fff;
	border-radius: 10px;
}

.deekImage:hover {
    outline: 1px solid #2ecc71;
}

.menuButtonSpecial {
	display: none;
    width: 76px;
    top: 35px;
    left: 10px;
    text-align: center;
    position: fixed;
    margin: auto;
    margin-top: 10px;
    height: 35px;
    box-sizing: border-box;
    font-size: large;
    color: white;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
    background: #2ecc71;
    border: 0;
    border-bottom: 2px solid #28be68;
    cursor: pointer;
    -webkit-box-shadow: inset 0 -2px #28be68;
    box-shadow: inset 0 -2px #28be68;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    margin-bottom: 10px;
}

.active-menuButton {
	display: block;
}

#metamaskConnect, #infocontainer-error {
    display: none;
    text-align: center;
    margin-top: 10vh;
}
    	
#metamaskConnect h3 span, #infocontainer-error h3 span {
	color:red;	
}
    	
.metamask-logo {
	display: block;
	margin: 25px auto 15px;
	width: 120px;
	height: auto;
}
    	
#metamaskConnect #metamask-connect {
	max-width: 200px;
}

.metamask-install-link {
	margin-top:20px;
	display: block;
	text-align: center;
}

.metamask-info {
	font-size: 11px;
	color: #575757;
	margin-top: 5px;
}

.metamask-info a {
	font-size: 11px;
	color: #575757;
}

.metamask-info a:hover, .metamask-info a:visited,  {
	color: #8b8b8b;
}

.menu_logo img {
	width: 100%;
}

.menu_input_label {
	text-align: center;
	font-size: 15px;
	font-weight: 600;
	margin: 15px auto 10px;
}

.settings_list label {
	display: block;
}

.settings_list {
	margin: 10px 0;
}

#deeks_empty_info {
	padding: 0 10px;
}

#deeks_empty_info p a {
	color: #2ecc71;
}

.escape-info {
	display: none;
    width: 200px;
    top: 10px;
	margin: 0 auto;
	left: 0;
	right: 0;
    text-align: center;
    position: fixed;
    box-sizing: border-box;
    color: white;
}

@media only screen  and (min-width : 600px) {
	.Logo {
    width: 220px;
    }
    
    .menuButtonSpecial {
    top: 45px;
    height: 40px;
    }
}

@media only screen  and (min-width : 900px) {
	.active-escape-info {
		display: block;
	}
}